.div-year{
  border: 2px rgb(213, 213, 213) solid;
  padding: 10px 20px 10px 20px;
  margin: 0px 5px 10px 5px;
  cursor: pointer;
}

.div-year > div > span{
  font-size: 20px;
}

@media (min-width: 767.98px) {
  .div-year > div{
    float: left;
    width: 96%;
  }
}

@media (max-width: 767.98px) {
  .div-year > div{
    float: left;
    width: 90%;
  }
}

.d-none{
  display: none;
}
